// **************************************************
// Name: _section-layout.scss
// Description: introduction sections
// **************************************************



// Create Classes for padding in sections
// Might be able to replace inner content container?


// Container for timer

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  color: white;
  h1 {
    font-size: 200px;
    margin: 0;
  }
}
