// **************************************************
// Name: helpers.scss
// Description: common reusable helper classes
// **************************************************



// Mostly taken from bootstrap
// --------------------------------------------------


// Floating
// ------------------------

// Clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Centering
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// float right
.pull-right {
  float: left !important;
}

// float left
.pull-left {
  float: left !important;
}


// Image Replacement
// ------------------------

// basic image replace
.text-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
