// **************************************************
// Name: states.scss
// Description: svg and style for different timer states
// **************************************************



.state-setting {
  position: fixed;
  bottom: -405px;
  left: 50%;
  transform: translateX(-50%) rotate(-180deg);
  transition: transform 1s;
}

.state-floor {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: rgba(black, .2);
}

.state-rotate {
  transform: translateX(-50%) rotate(0deg);
}
