// **************************************************
// Name: defaults.scss
// Description: default styles
// **************************************************


// **************************************************
// GLOBAL GLOBAL GLOBAL
// **************************************************


// Box-Sizing
// -------------------------

// Set all to border box!
* { box-sizing: border-box; }


// HTML and BODY
// -------------------------

body {
  background: $base;
}

// **************************************************
// Typography
// **************************************************

// Headlines
// -------------------------

h1 {
  font-size: 200px;
}

// Paragraphs
// -------------------------

// Nuke top margin and convert margin to rem
p {
  margin-top: 0;
  margin-bottom: 1rem;
}


// Links
// -------------------------

a {
  color: blue;
  text-decoration: none;

  &:hover, &:active {
    color: blue;
    text-decoration: underline;
  }
}


// Various Semantic Type
// -------------------------


// Lists
// -------------------------


// Blockquote
// ---------------------------



// **************************************************
// Other
// **************************************************

// Code
// ---------------------


// Figure
// ----------------------


// **************************************************
// Images
// **************************************************

img {
  // By default, img are `inline-block`. This assumes that and aligns vertically
  vertical-align: middle;
  // responsive images
  max-width: 100%;
}

// Fix iOS button click
// ----------------------
[role="button"] {
  cursor: pointer;
}



// **************************************************
// Tables
// **************************************************


// table { }

// th { }

// tr { }

// caption { }



// **************************************************
// Forms
// **************************************************

input {
  background: $base-light;
  border: none;
  padding: 15px;
  border-radius: 2px;
  margin: 10px;
  color: white;
  &:focus {
    outline:none;
    background: $base-xlight;
  }
}

input[type="button"] {
  background: $base-xdark;
  &:hover {
    background: $base-dark;
  }
}

// label {}
// button,
// select,
// textarea { }
